In [1]:
# single comment
# hello will printing on screen
print("hello")  # single statement

hello

# Syntax :

---> THe Structure of writing an instructions / rules for writing an instructions with in the program

# Program :-

---> Collection of instructions to do any one specific task

# Instruction :-

---> A line of code with in the program

# Type of Instructions :-

---> Based on exceuiton of instructions with int the programs we have 2 kind of instrcutions

   1. comments :-
   ----------------
          ======> Whatever the instructions which can't be executable by CPU
          
          ======> To give the brief explanation each abd every statements
          
          1. single line comment ======>>>     #
          
          2. Multiline comment  ======>>>     '''     '''
   2. statemnets :- 
   -----------------
          ======> Whatever the instructions which can be excutable by CPU
          
          1. single statement
          
          2. multiple statements
          
          3. Multiline statement
          
          4. Compound statement

In [2]:
'''
the below example is used for to understand multiple statement
'''
print("hello") ; print("Hi") ; print("Bye")

hello
Hi
Bye

In [3]:
'''
The below one is used for to understand multiline statement
'''
print("""hello
Hi
Bye
""")

hello
Hi
Bye

In [5]:
print('hello \
Hi \
Bye')

hello Hi Bye

# Keywords

----> The names which are already defined in python interpreter

----> Predefined / Built Names

----> Each and every keyword it was designed specific task

----> The count of the keywords can change version to cersion

In [6]:
import keyword    # importing all the keywords from keyword library of python.
print("************************")
print(keyword.kwlist)    # print out the keyword list
print("************************")
print(len(keyword.kwlist))  # Number of keywords in python interpreter is 35

************************
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
************************
35

# Identifier

----> User Defined Words / Programmer Words

----> To Give the name Entities for variable, functions and class

# Rules

---> WE can use alphabets [a - z / A - Z ]

---> we can use digits [ 0- 9 ]

---> WE can use underscore _ 

---> Don't use as a !st letter as a digit

---> Don't use keywords

---> Don't use special characters

In [ ]:
# Python Variable
print("id of 10 : ",id(10))
print("id of 20 : ",id(20))
print("id of 30 : ",id(30))

# ---> An identifier it can be used to reference the memmory location

# ---> We can easily access the data from memmory location

# ---> We don't need any variable declaration 

# ---> simply we can assign the data to Identitfier

var = 10
print("id of var : ",id(var))
var = 20
print("id o var : ",id(var))
var = 30
print("id of var : ",id(var))

In [8]:
varAI = 12;print(varAI)

12

In [9]:
_varA = 12
print(_varA)

12

In [10]:
9var = 123 # any identifier can't be start with number

SyntaxError: invalid syntax (<ipython-input-10-1137b7cd2b64>, line 1)

In [11]:
var@ = 123
print(var@) # the identifier var@ is containing @ which is not under rule

SyntaxError: invalid syntax (<ipython-input-11-740cfd4adc01>, line 1)

In [12]:
while = 123 # here the identifier is functional keyword which is also not under rule.

SyntaxError: invalid syntax (<ipython-input-12-b2245a128438>, line 1)

# Python Data Types : 

---> In case python all datatypes are predefined class

---> The real data is called object

---> To specify what type of data holded by variable 


# Types

1. Fundamental Datatype

   ---> A single Variable can hold single data element
   
        1. int
        2. float
        3. bool
        4. complex
        5. None
2. Sequential Datatype

In [27]:
'''

    ---> A single variable can hold single data element
    
        1. int
        2. float
        3. bool
        4. complex
        5. None
'''
# Integer variable
var = 10
print("id  :  ", id(var))
print("data  :  ", var)
print(type(var))
print("size of var  :  ",var.__sizeof__())

id  :   140719674501184
data  :   10
<class 'int'>
size of var  :   28

In [28]:
 # float variable
var = 10.667
print("id  :  ",id(var))
print("data  :  ",var)
print(type(var))
print("size of var  :  ",var.__sizeof__())

id  :   1924892492784
data  :   10.667
<class 'float'>
size of var  :   24

In [29]:
# Boolean variable
var = True
print("id  :  ",id(var))
print("data  :  ",var)
print(type(var))
print("size of var  :  ",var.__sizeof__())
var = False
print("id  :  ",id(var))
print("data  :  ",var)
print(type(var))
print("size of var  :  ",var.__sizeof__())

id  :   140719674218320
data  :   True
<class 'bool'>
size of var  :   28
id  :   140719674218352
data  :   False
<class 'bool'>
size of var  :   24

In [30]:
# complex variable
var = 10 + 3j
print("id  :  ",id(var))
print("data  :  ",var)
print(type(var))
print("size of var  :  ",var.__sizeof__())

id  :   1924892493168
data  :   (10+3j)
<class 'complex'>
size of var  :   32

In [31]:
# None type varibale
var = None
print("id  :  ",id(var))
print("data  :  ",var)
print(type(var))
print("size of var  :  ",var.__sizeof__())

id  :   140719674267776
data  :   None
<class 'NoneType'>
size of var  :   16

In [32]:
def fun(var = None):
    print(var)
fun()
print("size of var  :  ",var.__sizeof__())

None
size of var  :   16

# Seqeuntial Datatype : 

---> A single variabe can hold multiple data elemnets

---> there are 5 datatypes

   1. str
   
   2. list
   
   3. tuple
   
   4. dict
   
   5. set

In [ ]:
# string varibale
'''
---> collection of character is called string

---> we group the n no of characters with in '     '/ "      " / '''         '''/ """        """

'''

In [33]:
var = 'python'
print("data with in var : ",var)
print(type(var))
print(id(var))
print("size of var  :  ",var.__sizeof__())

data with in var :  python
<class 'str'>
1924860601264
size of var  :   55

In [34]:
var = "python"
print("data with in var : ",var)
print(type(var))
print(id(var))
print("size of var  :  ",var.__sizeof__())

data with in var :  python
<class 'str'>
1924860601264
size of var  :   55

In [35]:
var = '''python'''
print("data with in var : ",var)
print(type(var))
print(id(var))
print("size of var  :  ",var.__sizeof__())

data with in var :  python
<class 'str'>
1924860601264
size of var  :   55

In [24]:
var = """python"""
print("data with in var : ",var)
print(type(var))
print(id(var))

data with in var :  python
<class 'str'>
1924860601264

In [36]:
# List data type : 
'''
---> group of elemnets we can store with square brackest []
'''
var = [12, 45.45, 78+4j, True, None, 'python']
print("data with in var : ", var)
print(id(var))
print(type(var))
print("size of var  :  ",var.__sizeof__())

data with in var :  [12, 45.45, (78+4j), True, None, 'python']
1924892143680
<class 'list'>
size of var  :   88

In [37]:
# tuple datatype: 
'''
---> group of elements we can store with in parenthesis ()

'''
print(12, 34 +56, 4+5j, None, True)
print("data with in var : ",var)
print(id(var))
print(type(var))
print("size of var  :  ",var.__sizeof__())

12 90 (4+5j) None True
data with in var :  [12, 45.45, (78+4j), True, None, 'python']
1924892143680
<class 'list'>
size of var  :   88

In [39]:
# set datatype :
'''
---> group of elements we can store with in curly braces {}

'''
var = {12, 56.67, True, 7 + 5j, None}
print("data with in var : ",var)
print(id(var))
print(type(var))
print("size of var : ",var.__sizeof__())

data with in var :  {True, None, 12, (7+5j), 56.67}
1924892501376
<class 'set'>
size of var :  712

In [40]:
# dict datatype : 
'''
---> a group of elements we can store with in curly braces

---> the elements which is combination of keys and values

---> it can be used for to maintain the records

     Examples : 
        
        1. Students
        
        2. Employees
---> dict is unorder datatype

'''
var = {12:"python", 34:"c", 89:"jhgfr" }
print("data with in var : ", var)
print(id(var))
print(type(var))
print("size of var : ",var.__sizeof__())

data with in var :  {12: 'python', 34: 'c', 89: 'jhgfr'}
1924893196672
<class 'dict'>
size of var :  216

In [44]:
var = {12:"pyton", 34:"c", 89:"jhgfr" }
print("data with in var : ",var)
# Its unorder datatype so it can't support indexing
# but we can access values by keys
print(var[0])

data with in var :  {12: 'pyton', 34: 'c', 89: 'jhgfr'}

KeyError: 0

In [46]:
var = {12:"pyton", 34:"c", 89:"jhgfr" }
print("data with in var : ",var)
# Its unorder datatype so it can't support indexing
# but we can access values by keys
print(var[12])
print(var[89])

data with in var :  {12: 'pyton', 34: 'c', 89: 'jhgfr'}
pyton
jhgfr

In [49]:
a = 'Akshay Kumar Salman Khan Jubin Nautiyal Sonu Nigam'
print(a)
print("len of a : ",len(a))
print("max char : ",max(a))
print("min char : ",min(a))
print("Ascii value of y is : ",ord('y'))
print("Ascii value of space is : ",ord(" "))
print("character for 65 : ",chr(65))
print("character for 121 : ",chr(121))

Akshay Kumar Salman Khan Jubin Nautiyal Sonu Nigam
len of a :  50
max char :  y
min char :
 Ascii value of y is :  121
Ascii value of space is :  32
character for 65 :  A
character for 121 :  y

In [50]:
print(a)

Akshay Kumar Salman Khan Jubin Nautiyal Sonu Nigam

In [54]:
b = 'Akshay Kumar'
print(b[5])
print(b[-5])

y
K

In [55]:
a

'Akshay Kumar Salman Khan Jubin Nautiyal Sonu Nigam'

In [56]:
print(a)
print(a[38:49])
print(a[38:]) # stops ---> len of str
print(a[:49])  #start ---> 0

Akshay Kumar Salman Khan Jubin Nautiyal Sonu Nigam
l Sonu Niga
l Sonu Nigam
Akshay Kumar Salman Khan Jubin Nautiyal Sonu Niga

In [57]:
print(a)
print(a[5:48:5])
print(a[5:49:])

Akshay Kumar Salman Khan Jubin Nautiyal Sonu Nigam
yalKJ iSN
y Kumar Salman Khan Jubin Nautiyal Sonu Niga

In [58]:
# str is immautable data type means we can't able to modify
# the existing data
a[0] = 'S'

TypeError: 'str' object does not support item assignment

In [59]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [62]:
a = 'Salman '
b = 'Shahrukh '
print(a+b)
print(a.__add__(b))

Salman Shahrukh
Salman Shahrukh

In [64]:
a = 'Salman '
       #  b = 'Shahrukh '
print(a*3)
print(a.__mul__(3))

Salman Salman Salman
Salman Salman Salman

In [65]:
a = 'Salman'
print(len(a))
print(a.__len__())

6
6

In [66]:
a = 'Salman'
b = 'Shahrukh'
print(a>b)
print(a.__gt__(b))
print(a<b)
print(a.__lt__(b))
print(a==b)
print(a.__eq__(b))
print(a!=b)
print(a.__ne__(b))
print(a>=b)
print(a.__ge__(b))
print(a<=b)
print(a.__le__(b))

False
False
True
True
False
False
True
True
False
False
True
True

In [69]:
a = 'Khan'
b =  "Shahrukh Khan"
print(a in b)
print(b.__contains__(a))

True
True

In [70]:
# print(help(str.capitalize))
a = "Salman Khan SK"
print(a.capitalize())
print(a)

Salman khan sk
Salman Khan SK

In [71]:
a = "Salman Khan SK"
print(a.upper())
print()

SALMAN KHAN SK

In [72]:
print(a.lower())
print(a)

salman khan sk
Salman Khan SK

In [74]:
print(a)
print(a.swapcase())

Salman Khan SK
sALMAN kHAN sk

In [75]:
print(a)
print(a.title())

Salman Khan SK
Salman Khan Sk

In [77]:
a = "Salman Khan S"
print(a)
print(a.count('a'))

Salman Khan S
3

In [80]:
print(a.index('a'))
print(a)

1
Salman Khan S

In [81]:
print(a.split())
print(a)

['Salman', 'Khan', 'S']
Salman Khan S

In [84]:
a = ['Salman','Shahrukh','Aamir']
print(' * '.join(a))

Salman * Shahrukh * Aamir

In [86]:
a = "SALMAN khan"
print(a.isupper())
a = "SALMAN KHAN"
print(a.isupper())

False
True

In [2]:
# print function and input function

var = input("Enter any string : ")
print(type(var))
print(id(var))
print("size of var : ",var.__sizeof__())

Enter any string : Abhishek Kumar Srivastava
<class 'str'>
1658071267808
size of var :  74

In [4]:
a = 'super DUPER'
print(a.islower())
a = 'SUPER DUPER'
print(a.isupper())

False
True

In [5]:
a = 'super DUPER'
print(a.istitle())
a = 'Super Duper'
print(a.istitle())

False
True

In [6]:
a = 'superDUPER'
print(a.isalpha())
a = 'SUPER DUPER123@#'
print(a.isalpha())

True
False

In [7]:
a = '1234'
print(a.isdigit())
a = '123 A'
print(a.isdigit())

True
False

In [8]:
a = 'superDUPER'
print(a.isalnum())
a = '123456789'
print(a.isalnum())
a = 'super1234'
print(a.isalnum())
a = 'Super Duper'
print(a.isalnum())

True
True
True
False

In [9]:
a = 'Super'
a.center(7,'*')

'*Super*'

In [10]:
a = 'Super'
a.zfill(7)

'00Super'

# List Datatype

In [11]:
# empty list
a = []
print("a = ",a)
print("id = ",id(a))
print(type(a))

a =  []
id =  1658070398144
<class 'list'>

In [12]:
# list with int datatype elements
a = [12, 34, 56, 78]
print("a = ",a)
print("id = ",id(a))
print(type(a))

a =  [12, 34, 56, 78]
id =  1658070400256
<class 'list'>

In [14]:
#Hetro list
a = [12,45.67, 7+6j, True, None]
print("a = ",a)
print("id = ",id(a))
print(type(a))

a =  [12, 45.67, (7+6j), True, None]
id =  1658070228160
<class 'list'>

In [15]:
# nested list
'''
with in the list we can store any seq datatype elements

'''
a = ['top',[1,2,3]]
print("a = ",a)
print("id = ",id(a))
print(type(a))

a =  ['top', [1, 2, 3]]
id =  1658070436992
<class 'list'>

In [17]:
# mutable datatype 
a = [34, 45]
print(a)
print(a[0])
a[0] = 12
print(a)

[34, 45]
34
[12, 45]

In [19]:
# list slicing
a = [6, 4, 90 , 23, 56, 12, 89, 4 , 8]
print(a)
print(a[2:6]) # start ---> 0 / stop ---> len

[6, 4, 90, 23, 56, 12, 89, 4, 8]
[90, 23, 56, 12]

In [20]:
# slicing assignment
a[2:6] = [45, 55, 65, 75]
print(a)

[6, 4, 45, 55, 65, 75, 89, 4, 8]

In [21]:
# Dicing
print(a)
print(a[0:9:2])
print(a[0:9:3])

[6, 4, 45, 55, 65, 75, 89, 4, 8]
[6, 45, 65, 89, 8]
[6, 55, 89]

In [22]:
# dicing assignment
a[0:9:3] = [1, 10, 100]
print(a)

[1, 4, 45, 10, 65, 75, 100, 4, 8]

In [23]:
print(a)
print(len(a))
print(max(a))
print(min(a))
print(sum(a))

[1, 4, 45, 10, 65, 75, 100, 4, 8]
9
100
1
312

In [24]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [25]:
# list special methods
a = [1,2,3]
b = [4,5,6]
print(a+b)
print(a.__add__(b))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [26]:
print(2 in a)
print(a.__contains__(2))

True
True

In [27]:
print(a<b)
print(a.__lt__(b))

True
True

In [28]:
print(a)
a.append(2)
print(a)

[1, 2, 3]
[1, 2, 3, 2]

In [30]:
print(a)
print(a.count(2))

[1, 2, 3, 2]
2

In [31]:
print(b)
b.clear()
print(b)

[4, 5, 6]
[]

In [32]:
print(b)
print(a)
b = a.copy()
print(b)
print(a)
b.append(100)
print(b)
print(a)

[]
[1, 2, 3, 2]
[1, 2, 3, 2]
[1, 2, 3, 2]
[1, 2, 3, 2, 100]
[1, 2, 3, 2]

In [33]:
c = [4,5,6]
print(c)
print(a)
c.extend(a)
print(c)
print(a)

[4, 5, 6]
[1, 2, 3, 2]
[4, 5, 6, 1, 2, 3, 2]
[1, 2, 3, 2]

In [34]:
print(c)
print(c.pop())   # index  ----> -1
print(c)
print(c.pop(3))    # index  ---> 3
print(c)

[4, 5, 6, 1, 2, 3, 2]
2
[4, 5, 6, 1, 2, 3]
1
[4, 5, 6, 2, 3]