## Importing Dataset is the basic part of fundamentals of python

In [2]:
# loading a simple delimited data file.

import pandas as pd       # importing pandas library for dataframe calculations

import numpy as np        # importing numpy library for working with arrays

import matplotlib.pyplot as plt     # matplotlib.pyplot is used for plotting graph using data file


df = pd.read_csv("file:///C:/Users/rajee/OneDrive/Desktop/08_gap-every-five-years.csv")

In [3]:
df   # getting information of csv file

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [4]:
print(df.head())    # the top 5 rows of given data file

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [19]:
print(df.shape)   # the no of rows and columns in given data file

(1704, 6)

In [7]:
print(df.columns)  # what are the different columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [20]:
print(df.dtypes)  # what are pandas data types which is differ from python data types

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [21]:
print(df.info())     # gets the brief information of each indexed columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [4]:
country_df = df['country']      # retains the information of only country column

In [5]:
print(country_df.head())        # the top 5 details of country column

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [24]:
print(country_df.tail())   # the bottom 5 details of country column

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [6]:
subset = df[['country','continent','year']]    # the subset retaining the particular given column details
print(subset.head())    # the top 5 details of subset

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [26]:
print(subset.tail())      # the bottom 5 details of subset

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

In [7]:
# subset rows by Index Label using keyword 'loc'
# get the first row
# python counts from 0

print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [28]:
# get the 100th row
#python counts from 0
print(df.loc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [29]:
# get the last row
print(df.tail(n=1))

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [30]:
'''
Subsetting Multiple Rows

'''
# select the first, 100th, 1000th rows

print(df.loc[[0,99,999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [31]:
'''
Subset Rows by Row Number using keyword 'iloc'

'''
# get the 2nd row
print(df.iloc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object

In [32]:
# get the 100th row
print(df.iloc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [33]:
# using -1 to get the last row
print(df.iloc[-1])

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [35]:
"""
With iloc, we can pass in the -1 to get the last row, which something we couldn't do with loc.

"""
# get the first, 100th, 1000th, and last rows
print(df.iloc[[0,99,999,-1]])

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
99     Bangladesh      Asia  1967   43.453  62821884   721.186086
999      Mongolia      Asia  1967   51.253   1149500  1226.041130
1703     Zimbabwe    Africa  2007   43.487  12311143   469.709298

In [7]:
'''
Subsetting columns: 

--> The python slicing syntax uses a colon,:

--> If we have just a colon, the attribute refers to everything.

--> So, if we just want to get the first colomn using the loc or iloc syntax, we can
    write something like df.loc[;[columns]] to subset the columns.
    
'''
# subset columns with loc

# note the position of the colon

# It is used to select all rows

subset = df.loc[:,['year','pop']]
print(subset.head())

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [9]:
# subset columns with iloc 

# iloc will allow us to use integers

# -1 will select the last column

subset = df.iloc[:,[2,4,-1]]
print(subset.head())

   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106

In [8]:
"""
Subsetting columns by range

"""
# create a range of integers from 0 to 4 inclusive

small_range = list(range(5))
print(small_range)

[0, 1, 2, 3, 4]

In [9]:
# subset the dataframe with the range

subset = df.iloc[:,small_range]
print(subset.head())

       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460

In [12]:
"""
Subsetting Rows and Columns

"""
# using loc
print(df.loc[21,'country'])

# using iloc
print(df.iloc[42,0])

Albania
Angola

In [13]:
"""
Subsetting Multiple Rows and Columns

"""
# Get the 1st, 100th and 1000th rows

# from the 1st, 4th and 6th columns

print(df.iloc[[0,99,999],[0,3,5]])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [10]:
"""
if we use the columns names directly, 

"""
#it makes the code a bit easier to read

# note now we have to use loc instead of iloc

print(df.loc[[0,99,999],['country','lifeExp','gdpPercap']])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [11]:
print(df.loc[10:13,['country','lifeExp','gdpPercap']])

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244

In [16]:
print(df.head(n=10))

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351